<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--<link rel="icon" href="../../../../favicon.ico">-->

    <title>JoelMcBeth.com</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
</head>

<body>
    <nav id="top-nav" class="navbar navbar-dark flex-md-nowrap navbar-expand-md">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">JoelMcBeth.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#asdf" aria-controls="asdf" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav id="side-nav" class="navbar navbar-expand-md navbar-side d-md-block col-md-2 col-lg-1">
                <div class="collapse navbar-collapse navbar-side-content" id="asdf">
                    <h2>Main</h2>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#books">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#resume">Resume</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main id="main" role="main" class="col-md-10 ml-sm-auto col-lg-11"> 
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="/js/jquery-3.3.1.js"></script>5
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/sammy.js"></script>
    <script src="/js/app.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>