<h1>Books</h1>
<p>This is a list of the books in my library.</p>

<div class="form-group">
    <input id="filter" type="text" class="form-control" placeholder="Search" ng-model="vm.filterText" />
</div>

<div class="row">
    <div ng-repeat="book in vm.books" class="col-lg-3 mb-2">
        <div>
            <div><strong>{{book.title}}</strong></div>
            <div ng-show="book.authors.length > 0">by {{book.authors.join(", ")}}</div>
        </div>
        <div><a href="https://books.google.com/books?vid={{book.isbn}}" target="_blank"><img src="https://books.google.com/books?vid=ISBN{{book.isbn}}&printsec=frontcover&img=1&zoom=1" /></a></div>
    </div>
</div>

<nav ng-show="vm.pages.length > 1">
    <ul class="pagination">
        <li class="page-item" ng-class="{ disabled: vm.page == 1 }">
            <a class="page-link" href="" aria-label="Previous" ng-click="vm.selectPage(vm.page - 1)">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li ng-repeat="n in vm.pages">
            <a class="page-link" href="" ng-class="{ active: vm.page == n }" ng-click="vm.selectPage(n)">{{n}}</a>
        </li>
        <li class="page-item" ng-class="{ disabled: vm.page == vm.pageCount }">
            <a class="page-link" href="" aria-label="Next" ng-click="vm.selectPage(vm.page + 1)">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>