<h1>Books</h1>
<ul class="list-unstyled">
    <li><a routerLink="/admin/books/add">Add Book</a></li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Title</th>
            <th>Authors</th>
            <th>Rating</th>
            <th>Recommend</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>
                <a [routerLink]="['/admin/books/edit', book.id]">Edit</a>
            </td>
            <td>
                {{book.id}}
            </td>
            <td>
                {{book.title}}
            </td>
            <td>
                <span *ngFor="let author of book.authors; last as isLast">{{author.firstName}} {{author.lastName}}{{ !isLast ? ", " : ""}}</span>
            </td>
            <td>
                <app-rating *ngIf="book.reviews.length > 0 && book.reviews[0].rating" [value]="book.reviews[0].rating"></app-rating>
            </td>
            <td>
                <span *ngIf="book.reviews.length > 0 && book.reviews[0].isRecommended" class="badge badge-primary">Recommended</span>
            </td>
        </tr>
    </tbody>
</table>

<nav *ngIf="pages.length > 1">
    <ul class="pagination">
        <li class="page-item" ngClass="{ disabled: page == 1 }">
            <a [routerLink]="[]" class="page-link" aria-label="Previous" (click)="selectPage(page - 1)">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li *ngFor="let n of pages">
            <a [routerLink]="[]" class="page-link" [ngClass]="{ active: page == n }" (click)="selectPage(n)">{{n}}</a>
        </li>
        <li class="page-item" [ngClass]="{ disabled: page == pageCount }">
            <a [routerLink]="[]" class="page-link" aria-label="Next" (click)="selectPage(page + 1)">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
