<h1>Misc</h1>
<p>Various pages that don't yet (or never will) deserve a top level menu item.</p>
<ul class="list-unstyled">
    <li><a routerLink="/infantry">Infantry</a> - Pages related to the video game Infantry.</li>
    <!--<li><a ui-sref="window-sticker-lookup">Window Sticker Lookup</a> - Tool for looking up window stickers by vin.</li>-->
    <li><a routerLink="/base64-converter">Base64 Converter</a> - Converts a string to base 64.</li>
    <li><a routerLink="/hash-generator">Hash Converter</a> - Generates a hash from a list of properties.</li>
    <li><a routerLink="/exception-formatter">Exception Formatter</a> - Formats .NET exception messages.</li>
</ul>
