<h2>Add Book</h2>
<div class="row">
    <form class="col-lg-3 col-md-4" novalidate>
        <div class="alert alert-danger" role="alert" ng-show="vm.error">
            {{vm.error}}
        </div>

        <div class="form-group">
            <label>Title</label>
            <input class="form-control" ng-model="vm.book.title" required type="text" />
        </div>

        <div class="form-group">
            <label>ISBN 13</label>
            <input class="form-control" ng-model="vm.book.isbn13" required type="text" ng-minlength="13" ng-maxlength="13" />
        </div>

        <div class="form-group">
            <label>Number of Pages</label>
            <input class="form-control" ng-model="vm.book.pages" type="number" />
        </div>

        <button type="submit" class="btn btn-primary" ng-click="vm.addBook(vm.book)">Add Book</button>
    </form>
</div>