<h1>Camera Viewer</h1>

<div class="camera-viewer">
    <img class="camera-viewer-img img-fluid" [src]="snapshotUrl">
</div>

<div>
    <button class="btn btn-primary" type="button" (click)="refresh()">Refresh</button>
</div>

<div class="form-check">
    <input type="checkbox" class="form-check-input" id="refresh-automatically" [(ngModel)]="refreshAutomatically" (change)="vm.toggleAutomaticRefresh()">
    <label class="form-check-label" for="refresh-automatically">Refresh Automatically</label>
</div>

<div>
    <label class="form-label" for="interval">Refresh Interval (seconds)</label>
    <input id="interval" type="text" class="form-control" [(ngModel)]="refreshInterval" (change)="updateInterval()" />
</div>
