<div ng-if="group.resources">
    <heading level="level">{{ group.name }}</heading>

    <p ng-if="group.description">{{ group.description }}</p>
    <ul class="list-unstyled">
        <li ng-repeat="resource in group.resources">
            <span ng-if="!resource.url">{{ resource.title }}</span>
            <a ng-if="resource.url" href="{{ resource.url }}">{{ resource.title }}</a><span ng-if="resource.description"> - {{ resource.description }}</span>
        </li>
    </ul>

    <div ng-repeat="group in group.groups" ng-include="'/app/resources/resourceGroup.html'" ng-init="level = level + 1"></div>
</div>