
@{
    ViewData["Title"] = "Resume";
}

<div id="resume">
    <h1>Joel McBeth</h1>
    <hr />
    <div>
        <span>10415 Alexander Martin Ave.</span>
        <span>Charlotte, NC 28277</span>
    </div>
    <div>(910) 690-7511</div>
    <div>joel.mcbeth@gmail.com</div>
    <h2>Education</h2>
    <h3>Programming</h3>
    <ul>
        <li></li>
    </ul>
    <h3>Technologies</h3>
    <ul>
        <li></li>
    </ul>
</div>