html {
    font-size: 11pt;
}

body {
    font-family: Consolas;
    background: WhiteSmoke;
}

a:active, a:hover {
    color: green;
}

a {
    color: Green;
    text-decoration: None;
}

h1 {
    margin: 0;
    font-weight: Bold;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-style: italic;
}


h2 {
    margin: 0;
    font-weight: Bold;
    text-decoration: underline;
    font-size: 1em;
    text-transform: uppercase;
}

h3 {
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
}

pre {
    font-family: courier new, monospace;
}

p {
    margin: 0 0 1em 0;
}

/*
    Top Menu
*/
#top-nav {
    background: Green;    
}

#top-nav .navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    padding: 0;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .75);
    border-color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*
 * Sidebar
 */
.navbar-side {
    width: 100%;
    padding: 0;
    display: block;
    min-height: 0;
}

.navbar-side .navbar-collapse {
    border-top: 2px solid black;
    padding: 4px 15px;
    
}

.navbar-side .navbar-nav {
    display: block;
}

.navbar-side .navbar-link {
    padding: 0;
}

#side-nav .navbar-nav .nav-link {
    padding: 0;
}

.menu-group {
    padding: 0 0 .5rem 0;
}

@media (min-width: 768px) {
    .navbar-side .navbar-collapse {
        display: block !important;
    }
}

.alert {
    border-radius: unset;
    padding: 0.375rem 0.75rem;
}

/*
 * Content
 */
[role="main"] {
    background: White;
    border-left: 1px dashed black;
    border-bottom: 1px dashed black;
    border-right: 1px dashed black;
    border-top: 2px solid black;
    padding-bottom: 15px;
}

/*
    Input
*/

.form-control {
    border-radius: 0;
    border: 1px solid green;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: green;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 128, 0, 0.25);
}

/*
    Pagination
*/

.page-link {
    color: green;
    border: 0;
}

.page-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.page-link:hover {
    color: green;
    text-decoration: underline;
    background-color: unset;
    border: 0;
}

.page-link:focus {
    z-index: 2;
    box-shadow: none;
}

/**
    buttons
*/

.btn {
    border-radius: unset;
}

.btn-primary {
    color: #fff;
    background-color: green;
    border-color: green;
}

.btn-primary:hover {
    color: #fff;
    background-color: darkgreen;
    border-color: darkgreen;
}

    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: darkgreen;
        border-color: darkgreen;
    }

    .btn-primary:focus, .btn-primary.focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 128, 0, 0.5);
    }

    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 128, 0, 0.5);
    }

/* Loader */
#loading-overlay {
    position: absolute;
    left: 50%;
    top: 35%;
    z-index: 1;
    margin: -50px 0 0 -50px;
}

.loading-glyph {
    border: 14px solid green;
    border-top: 14px solid darkgreen;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin-bottom: 1em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*
    AngularJS
*/

input[type=text].ng-invalid.ng-dirty {
    background-color: pink;
}