body {
    font-family: consolas;
    color: Black;
    margin: 0;
    background: WhiteSmoke;
    font-size: 11pt;
}

#banner {
    background: Green;
    border-bottom: 2px solid black;
}

    #banner h1 {
        color: White;
        font-size: 3em;
        font-weight: Bold;
        padding: 20px 10px 20px 10px;
        text-transform: uppercase;
    }

#menu {
    position: absolute;
    left: 0;
    width: 9em;
    margin: 0;
    padding: 5px 5px 5px 10px;
}

#main-content {
    padding: 5px 5px 5px 10px;
    background: White;
    border-left: 1px dashed black;
    border-bottom: 1px dashed black;
    margin-left: 9em;
}

h1 {
    margin: 0;
    font-weight: Bold;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-style: italic;
}


h2 {
    margin: 0;
    font-weight: Bold;
    text-decoration: underline;
    font-size: 1em;
    text-transform: uppercase;
}

h3 {
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
}


a:link, a:active, a:visited, a:hover {
    color: Green;
    text-decoration: None;
}

pre {
    font-family: courier new, monospace;
}

p {
    margin: 0 0 1em 0;
}

.navigation {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

strong {
    font-weight: bold;
}